/* PADDING AND MARGIN */
* {
    padding: 0;
    margin: 0;
}

/* LOAD FONTS */
@font-face {
    font-family: calibreRegular;
    src: url(fonts/Calibre-Regular.otf);
}

@font-face {
    font-family: calibreBold;
    src: url(fonts/Calibre-Bold.otf);
}

/* COMMON STYLES - TEXT */
h1 {
    font-family: calibreBold, Arial, Helvetica, sans-serif;
    font-size: 5rem;
}

.q-a-text {
    font-family: calibreRegular, Arial, Helvetica, sans-serif;
    font-size: 1.836rem;
}

/* COMMON STYLES - COLOR */
.bb-bluegray {
    color: #799dab;
}

.bb-bluegray-fill {
    background-color: #799dab;
}

.bb-lightbluegray {
    background-color: #dcf1f9;
}

.bb-lightbluegray-fill {
    background-color: #dcf1f9;
}

.gridContainer {
    display: grid;
    grid-template-columns: 9rem repeat(2, 1fr) 9rem;
}