/* PADDING AND MARGIN */
* {
    padding: 0;
    margin: 0;
}

html { 
    scroll-behavior: smooth;
}

/* LOAD FONTS */
@font-face {
    font-family: calibreRegular;
    src: url(fonts/Calibre-Regular.otf);
}

@font-face {
    font-family: calibreBold;
    src: url(fonts/Calibre-Bold.otf);
}

/* COMMON STYLES - TEXT */
h1 {
    font-family: calibreBold, Arial, Helvetica, sans-serif;
    font-size: 5rem;
}

.q-a-text {
    font-family: calibreRegular, Arial, Helvetica, sans-serif;
    font-size: 1.836rem;
}

/* COMMON STYLES - COLOR */
.bb-bluegray {
    color: #799dab;
}

.bb-bluegray-fill {
    background-color: #799dab;
}

.bb-lightbluegray {
    color: #dcf1f9;
}

.bb-lightbluegray-fill {
    background-color: #dcf1f9;
}

.gridContainer {
    display: grid;
    grid-template-columns: 9rem repeat(2, 1fr) 9rem;
}

#waw-c1-r2{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#waw-c1-r3{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

#waw-c1-r4{
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

#waw-c1-r5{
    grid-column: 2 / 3;
    grid-row: 6 / 7;
}

#waw-c1-r6{
    grid-column: 2 / 3;
    grid-row: 6 / 7;
}

#waw-c1-r7{
    grid-column: 2 / 3;
    grid-row: 8 / 9;
    padding-bottom: 2.5rem;
}

#waw-c2-r2{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

#waw-c2-r3{
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}

#waw-c2-r4{
    grid-column: 3 / 4;
    grid-row: 5 / 6;
}

#waw-c2-r5{
    grid-column: 3 / 4;
    grid-row: 6 / 7;
}

#waw-c2-r6{
    grid-column: 3 / 4;
    grid-row: 7 / 8;
}

#waw-c2-r7{
    grid-column: 3 / 4;
    grid-row: 8 / 9;
}

.waw-section-header {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    padding-top: 2.5rem;
    padding-bottom: 3rem;
}

.waw-header {
    font-family: calibreBold, Arial, Helvetica, sans-serif;
    font-size: 2.18rem;
    color: #dcf1f9;
    background-color: #799dab;
}

.waw-text {
    font-family: calibreRegular, Arial, Helvetica, sans-serif;
    font-size: 1.875rem;
    color: #dcf1f9;
    background-color: #799dab;
    padding-bottom: 1rem;
}

.waw-rowspan {
    grid-row: 2 / 9;
}

/* Our Work Section */

.Our_Work{
    grid-column: 1/5;
    width: 100%;
   
}

.background{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 9rem repeat(2, 1fr) 9rem;
    
    
    flex-direction: column;
    align-items: flex-start;
    border-radius: var(--pos, 0px);
    
    background: var(--bb-bluegray, #799DAB);
    }
    
    


.xScroll {
    margin-top: 5rem;
    gap: 5rem;
    overflow: auto;
    white-space: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    background-color: #799dab;
    padding-top: 1rem;
    padding-left: 6rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
    grid-column: 1 / 6;
    
}

.xItem {
    display: inline-block;
    
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 2rem;
    padding-bottom: 1rem;

    margin: 1rem;
  
}

/* BODY LAYOUT */
#section-faq {
    padding: 1.25rem 0rem 4rem 0rem;
    row-gap: 0.625rem;

    display: flex;
    flex-direction: column;

    /* position in grid */
    grid-column: 2 / 4;
}

/* FAQ */
.faq {
    background-color: white;
    border-radius: 0.5rem;
}

.question-container {
    padding: 1rem 2rem 1rem 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.q-a-text {
    width: 100%; /* make text fill all the empty space */
}

.answer-container {
    padding: 1rem 2rem 1rem 2rem;
}

details.faq[open]>.question-container>.question-caret {
    /* when the faq is open, the caret is flipped upside down */
    transform: rotateX(180deg) rotateY(180deg);
}

/* EMPTY COLUMNS */
.column-left {
    grid-column: 1 / 2;
}

.column-right {
    grid-column: -2 / -1;
}

.Contact_form{
    background-color: #dcf1f9;
    grid-column: 1/5;
    width: 100%;
}

input {
    font-size: 5rem;
    font-family: calibreRegular, Arial, Helvetica, sans-serif;
    /* width: fit-content; */
    border: #dcf1f9;
    width: 20rem;
    border-bottom:#799dab 0.5rem solid;
    line-height: 1;
    text-align: center;
}

input::placeholder {
    color: #799dab;
}

.contactsubmit {
    border: #799dab solid 0.5rem;
    border-radius: 2rem;
}

.Form{
    padding-bottom: 1rem;
    margin-left: 9rem;
    margin-right: 9rem;
}

.Contact_name h1{
    color: #799dab;
    margin-left: 9rem;
    margin-right: 9rem;
}

form {
    color: #799dab;
    font-size: 5rem;
    font-family: calibreRegular;
}

.error_message{
    color: #799dab;
    font-size: 5rem;
    font-family: calibreRegular;
}

.confirmation {
    color: #799dab;
    font-size: 5rem;
    font-family: calibreRegular;
}

footer{
    grid-column: 1/5;
    font-family: calibreRegular, Arial, Helvetica, sans-serif;
    color: white;
    text-align: right;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-right: 9rem;
}

footer > p.company{
    font-family: calibreBold, Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
}

footer > p{
    font-size: 1.875rem;
}

footer > p > span{
    font-family: calibreBold, Arial, Helvetica, sans-serif;
}
/* header*/
#home{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 0;
    background: var(--bb-lightbluegray, #DCF1F9);
    z-index: 3;
}
.header {
    display: flex;
    padding-block: 2.5rem;
    justify-content: center;
    align-items: flex-start;
    gap: var(--pos, 6rem);
    flex-shrink: 0;

    border-radius: var(--pos, 0rem);
    background: var(--bb-lightbluegray, #DCF1F9);
    
}

.headerText {
    font-family: calibreBold;
    src: url(fonts/Calibre-Bold.otf);
    text-decoration: none;
    color: #799dab;
    font-size: 1.875rem;
    font-weight: 600;
}
/* testimonials */
.testimonials {
    grid-column: 2 / 5;
    background-color: #799dab;
    padding-bottom: 7rem;
    padding-top: 5rem;
}

.tScroll {
    margin-top: 7rem;
    gap: 10em;
    overflow: auto;
    white-space: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    background-color: #799dab;
    padding-bottom: 2rem;
}

.tItem {
    display: inline-block;
    background-color: #dcf1f9;
    width: 40%;
    border-radius: 1rem;
    font-family: calibreRegular;
    src: url(fonts/Calibre-Regular.otf);
    font-size: 2rem;

}

.tItem+.tItem {
    margin-left: 3rem;
}

.tEmptyContainer {
    grid-column: 1/2;
    background-color: #799dab;
}

.tGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.tAuthor {
    grid-column: 1/2;
    padding-left: 2rem;
    padding-top: 1.5rem;
}

.tReview {
    white-space: break-spaces;
    grid-column: 1/4;
    text-align: center;
    padding: 2rem;
}

.tScroll::-webkit-scrollbar-track, .hscroll::-webkit-scrollbar-track ,.xScroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #799dab;
    border-radius: 10px;
}

.tScroll::-webkit-scrollbar, .hscroll::-webkit-scrollbar ,.xScroll::-webkit-scrollbar{
    width: 10px;
    background-color: #799dab;

}

.tScroll::-webkit-scrollbar-thumb, .hscroll::-webkit-scrollbar-thumb ,.xScroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #dcf1f9;
    margin-top: 2rem;
}

/* homepage */
.left {
    grid-column: 2/3;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.logo {
    width: 100%;
    border-bottom: #799dab 0.5rem solid;

    padding-bottom: 2.0625rem;
}

.slogan {
    font-family: calibreRegular;
    font-weight: 500;
    font-size: 2.1875rem;

    margin-top: 1.25rem;
}

.right {
    text-align: right;
}

.drawing{
    width: 100%;
}


#Our_services{
    grid-column: 1 /5;
}

.hscroll{
    padding: 1rem 9rem 1rem 9rem;
    overflow:auto;
    white-space: nowrap;
}

/* CONTAINER */
.servicecontainer{
    display: inline-block;  
    padding: 2.875rem;

    border-radius: 2rem; 
    white-space: wrap;    
}

/*INSIDE CONTAINER */
.service {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    column-gap: 5.375rem;
    width: 80rem;
}


.serviceinfo {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 28rem 1fr 28rem;
}

.serviceinfo > h4 {
    font-family: calibreBold, Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    grid-column: 1 / 2;
    text-align: center;

}

.serviceinfo > p {
    font-family: calibreRegular, Arial, Helvetica, sans-serif;
    font-size: 1.875rem;
    grid-column: -2 / -1;
    text-align: center;
    vertical-align: middle;
}

/* FEATURES */
@font-face {
    font-family: calibreMedium;
    src: url(fonts/Calibre-Medium.otf);
}

.feature > h4 {
    font-family: calibreMedium, Arial, Helvetica, sans-serif;
    font-size: 2.1875rem;
}

.feature > p {
    font-family: calibreRegular, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}
.work-image {
    height: 400px;
    object-fit: cover;
}
.work-section-header {
    grid-area: 1/1/2/3;
}

@media screen and (max-width: 1024px) {
    .header {
        flex-direction: column;
        align-items: center;
        gap:1rem; 
    }
    .gridContainer{
        display: flex;
        flex-direction: column;
    }
    .slogan{
        font-size: 1.5rem;
        text-align: center;
    }
    .logo{
        scale: 0.9;
    }
    .drawing{
        scale: 0.8;
    }
    .waw-header,.waw-text,.waw-section-header,.service-header,.faq-header{
        text-align: center;
    }
    .service{
        display: flex;
        column-gap: 5.375rem;
        width: 25rem;
        flex-direction: column;
    }
    .serviceinfo{
        display: flex;
        flex-direction: column;
    }
    .work-section-header {
        grid-area: 1/2/2/5;
    }
    .faq{
        margin-inline: 1rem;
    }
    .tItem{
        width: 75%;
    }
    .tScroll{
        margin-inline: 1rem;
    }
    .contact-form{
        font-size: 3rem;
    }
    .contact-form>.contact-text{
        font-size: 3rem;
        width: 11rem;
    }
    .Form{
        margin-inline: 1rem;
    }
    .Contact_name h1{
        margin-right:0;
        margin-left: 0;
        text-align: center;
    }
    footer{
        padding-right: 1rem;
    }
    .contactsubmit{
        display: block;
        border-width: 0.35rem;
        width:20rem !important;
        margin: auto;
        margin-top: 1rem;
        padding-top: 0.5rem;
    }
    #home{
        position: relative;
    }

    .header .headerText {
        display: none;
    }
    .header.open .headerText {
         display: block;
    }
    #openHeader{
        border: none;
        background: none;
        font-family: calibreBold;
        src: url(fonts/Calibre-Bold.otf);
        text-decoration: none;
        color: #799dab;
        font-size: 1.875rem;
        font-weight: 600;
    }
}