/* PADDING AND MARGIN */
* {
    padding: 0;
    margin: 0;
}

/* LOAD FONTS */
@font-face {
    font-family: calibreRegular;
    src: url(fonts/Calibre-Regular.otf);
}

@font-face {
    font-family: calibreBold;
    src: url(fonts/Calibre-Bold.otf);
}

/* COMMON STYLES - TEXT */
h1 {
    font-family: calibreBold, Arial, Helvetica, sans-serif;
    font-size: 5rem;
}

.q-a-text {
    font-family: calibreRegular, Arial, Helvetica, sans-serif;
    font-size: 1.836rem;
}

/* COMMON STYLES - COLOR */
.bb-bluegray {
    color: #799dab;
}

.bb-bluegray-fill {
    background-color: #799dab;
}

.bb-lightbluegray {
    color: #dcf1f9;
}

.bb-lightbluegray-fill {
    background-color: #dcf1f9;
}

.gridContainer {
    display: grid;
    grid-template-columns: 9rem repeat(2, 1fr) 9rem;
}

#waw-c1-r2{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#waw-c1-r3{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#waw-c1-r4{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

#waw-c1-r5{
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

#waw-c1-r6{
    grid-column: 2 / 3;
    grid-row: 6 / 7;
}

#waw-c1-r7{
    grid-column: 2 / 3;
    grid-row: 7 / 8;
    padding-bottom: 2.5rem;
}

#waw-c2-r2{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

#waw-c2-r3{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

#waw-c2-r4{
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}

#waw-c2-r5{
    grid-column: 3 / 4;
    grid-row: 5 / 6;
}

#waw-c2-r6{
    grid-column: 3 / 4;
    grid-row: 6 / 7;
}

#waw-c2-r7{
    grid-column: 3 / 4;
    grid-row: 7 / 8;
}

.waw-section-header {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    padding-top: 2.5rem;
    padding-bottom: 3rem;
}

.waw-header {
    font-family: calibreBold, Arial, Helvetica, sans-serif;
    font-size: 2.18rem;
    color: #dcf1f9;
    background-color: #799dab;
}

.waw-text {
    font-family: calibreRegular, Arial, Helvetica, sans-serif;
    font-size: 1.875rem;
    color: #dcf1f9;
    background-color: #799dab;
    padding-bottom: 1rem;
}

.waw-rowspan {
    grid-row: 1 / 8;
}

/* BODY LAYOUT */
#section-faq {
    padding: 1.25rem 0rem 4rem 0rem;
    row-gap: 1.6rem;

    display: flex;
    flex-direction: column;

    /* position in grid */
    grid-column: 2 / 4;
}

/* FAQ */
.faq {
    background-color: white;
    border-radius: 0.5rem;
}

.question-container {
    padding: 1rem 2rem 1rem 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.q-a-text {
    width: 100%; /* make text fill all the empty space */
}

.answer-container {
    padding: 1rem 2rem 1rem 2rem;
}

details.faq[open]>.question-container>.question-caret {
    /* when the faq is open, the caret is flipped upside down */
    transform: rotateX(180deg) rotateY(180deg);
}

/* EMPTY COLUMNS */
.column-left {
    grid-column: 1 / 2;
}

.column-right {
    grid-column: -2 / -1;
}

.Contact_form{
    background-color: #dcf1f9;
    grid-column: 1/5;
    width: 100%;
}

input {
    font-size: 5rem;
    font-family: calibreRegular, Arial, Helvetica, sans-serif;
    /* width: fit-content; */
    border: #dcf1f9;
    width: 20rem;
    border-bottom:#799dab 0.5rem solid;
    line-height: 1;
    text-align: center;
}

input::placeholder {
    color: #799dab;
}

.contactsubmit {
    border: #799dab solid 0.5rem;
    border-radius: 2rem;
}

.Form{
    padding-bottom: 1rem;
    margin-left: 9rem;
    margin-right: 9rem;
}

.Contact_name h1{
    color: #799dab;
    margin-left: 9rem;
    margin-right: 9rem;
}

form {
    color: #799dab;
    font-size: 5rem;
    font-family: calibreRegular;
}

.confirmation {
    color: #799dab;
    font-size: 5rem;
    font-family: calibreRegular;
}

footer{
    grid-column: 1/5;
    font-family: calibreRegular, Arial, Helvetica, sans-serif;
    color: white;
    text-align: right;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-right: 9rem;
}

footer > p.company{
    font-family: calibreBold, Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
}

footer > p{
    font-size: 1.875rem;
}

footer > p > span{
    font-family: calibreBold, Arial, Helvetica, sans-serif;
}
/* header*/
.header {
    display: flex;
    height: 4.5rem;
    padding-top: 2.5rem;
    justify-content: center;
    align-items: flex-start;
    gap: var(--pos, 6rem);
    flex-shrink: 0;

    border-radius: var(--pos, 0rem);
    background: var(--bb-lightbluegray, #DCF1F9);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.headerText {
    font-family: calibreBold;
    src: url(fonts/Calibre-Bold.otf);
    text-decoration: none;
    color: #799dab;
    font-size: 1.875rem;
    font-weight: 600;
}
/* testimonials */
.testimonials{
    grid-column: 2 / 4;
}
.tscroll{
    background-color: #dcf1f9;
    margin: 3rem 3rem 3rem 3rem;
    gap: 2em;
    overflow:auto;
    white-space: nowrap;
    width: 100%;
}
.titem{
    display: inline-block;
}

/* homepage */
.left {
    grid-column: 2/3;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.logo {
    width: 100%;
    border-bottom: #799dab 0.5rem solid;

    padding-bottom: 2.0625rem;
}

.slogan {
    font-family: calibreRegular;
    font-weight: 500;
    font-size: 2.1875rem;

    margin-top: 1.25rem;
}

.right {
    text-align: right;
}

.drawing{
    width: 100%;
}